.head-line-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.inputArea{
    margin-top: 1em;
    display: flex;
    justify-content: right;
}
.inputArea > input{
    border: 1px solid #bababa;
}
.inputArea > button{
    margin-left: 5px;
    border: 1px solid #bababa;
}
.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 47%;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover{
    background-color: #ebebeb;
}
.news-img-size{
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    max-height: 250px;    
    padding: 5% 0;
}
.news{
    border-bottom: 2px solid black;
}
.content{
    padding: 2%;
}

.content h2{
    font-size: clamp(1.5rem, 1.6vw, 1.8rem)
}
.container > nav{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.page-item.active .page-link{
    background-color: burlywood;
    color: white;
    border-color: burlywood;
}
.page-link{
    color:#8c8c8c;
}
.page-item :hover{
    color: rgb(144, 132, 115);
    background-color: rgb(240, 238, 232);
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }
.search-button {
  background-color: rgb(196, 193, 173);
  border: 1px solid rgb(169, 166, 149);
  color: rgb(255, 255, 255);
  height: 27px;
  border-radius: 3px;
}
#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 28px;
}
.search-tray{
    margin-top: 12px;
}
#input-area {
  display: none;
}
@media all and (min-width:600px){
    .icon-button {display: none}
}

/*모바일ver*/
@media all and (max-width:700px){
    .menus {display: none}
}